@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap");

:root {
	--header: 2.5rem;
	--fs-700: 2rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-550: 1.35rem;
	--fs-400: 1rem;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-800: 800;
	--green: #053b3f;
	--neon: #20bd95;
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Red Hat Display";
}

.header {
	height: 17vh;
	background-color: red;
}

.left-nav {
	display: flex;
	width: 100vw;
	align-items: center;
	flex-direction: row;
}

/* .logo{
  height: 15vh;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  display: flex;
} */

.header {
	background: white;
	color: rgb(13, 26, 38);
	position: fixed;
	top: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	z-index: 10;
	padding-top: 2vh;
}

.nav-wrapper {
	margin: auto;
	text-align: center;
	width: 70%;
}

.logo {
	float: left;
	margin-left: 40px;
	height: 70px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.header ul {
	display: inline-block;
	list-style: none;
	margin-top: -2px;
	margin-left: 5vw;
	text-align: right;
	transition: transform 0.5s ease-out;
	-webkit-transition: transform 0.5s ease-out;
	font-size: var(--fs-550);
	font-weight: var(--fw-600);
	cursor: pointer;
	color: var(--green);
}

.header li {
	display: inline-block;
}

.header li a {
	color: rgb(13, 26, 38);
	display: flex;
	font-size: 0.7em;
	height: 50px;
	letter-spacing: 1px;
	margin: 0 20px;
	padding: 0 4px;
	position: relative;
	text-decoration: none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.header li a:hover {
	/* border-bottom: 1px solid rgb(28, 121, 184); */
	color: var(--green);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
.header li a:before,
.header li a:after {
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	bottom: -1px;
	background: rgb(13, 26, 38);
}

.header li a:before {
	left: 0;
	transition: 0.5s;
}

.header li a:after {
	background: rgb(13, 26, 38);
	right: 0;
	/* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

.header li a:hover:before {
	background: rgb(13, 26, 38);
	width: 100%;
	transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

.header li a:hover:after {
	background: transparent;
	width: 100%;
	/* transition: 0s; */
}

.signup {
	padding: 15px 25px 15px 25px;
	background-color: #053b3f;
	color: white;
	font-weight: 600;
	margin-left: 35vw;
}

.main-div {
	margin-top: 150px;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title {
	width: 500px;
	text-align: justify;
	font-weight: 500;
}

.main-title span {
	font-size: 60px;
	text-overflow: clip;
}

.notpara {
	color: #053b3f;
}

.stats {
	margin-top: 10px;
	height: 50vh;
	background-color: #053b3f;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	font-size: 60px;
}

.text-stats {
	display: flex;
	flex-direction: column;
}
.stats span {
	color: #20bd95;
	font-size: 28px;
	align-self: center;
}
